<ion-header>
  <ion-toolbar>
    <ion-title>Neues Set {{setname}} erstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>Set Name</h3>

  <ion-input required type="text" [(ngModel)]="setname" ></ion-input>

  <h3>Neues Wort</h3>
  
  <ion-input required type="text" [(ngModel)]="wort.wort" ></ion-input>

  <h3>Passender Artikel</h3>
  
  <ion-select required cancel-text="Abbrechen" value="artikel" interface="action-sheet" [(ngModel)]="wort.artikel">
        
    <ion-select-option value="DER">Der</ion-select-option>
    <ion-select-option value="DIE">Die</ion-select-option>
    <ion-select-option value="DAS">Das</ion-select-option>

  </ion-select>

  <ion-button (click)="addword()" >Hinzufügen</ion-button>

  <h3>Set Vorschau</h3>

  <h4>{{setname}}</h4>

  <ion-list>
    <ion-item *ngFor="let w of woerter">{{ w.artikel + " " + w.wort }}</ion-item>
  </ion-list>


  <ion-button (click) = 'postSet()' >Fertig</ion-button>
</ion-content>
