<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="woerter">
      {{ name }} Set
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <p *ngIf="woerter">
    {{ woerter[index].wort}}
  </p>
  <ion-button (click)="check('DER')">Der</ion-button>
  <ion-button (click)="check('DIE')">Die</ion-button>
  <ion-button (click)="check('DAS')">Das</ion-button>
  <p>
    {{output}}
  </p>
  <div *ngIf="show">
    <ion-button (click)="next()">Nächstes Wort</ion-button>
  </div>

  
<div *ngIf = "finished">

  <ion-button (click)="end()" >Beenden</ion-button>

</div>

</ion-content>
