<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="woerter">
      {{ woerter[index].wortSet.name }} Set
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div *ngIf = "!finished">
  <p *ngIf="woerter">
    {{ woerter[index].wort}}
  </p>
  <ion-button (click)="check('der')">Der</ion-button>
  <ion-button (click)="check('die')">Die</ion-button>
  <ion-button (click)="check('das')">Das</ion-button>
  <p>
    {{output}}
  </p>
  <div *ngIf="show">
    <ion-button (click)="next()">Nächstes Wort</ion-button>
  </div>
</div>
  
<div *ngIf = "finished">

  <ion-button (click)="end()" [routerLink]="['/profil']">Beenden</ion-button>

</div>

</ion-content>
