<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>
    {{ woerter[index].wort}}
  </p>
  <ion-button (click)="check('der')">Der</ion-button>
  <ion-button (click)="check('die')">Die</ion-button>
  <ion-button (click)="check('das')">Das</ion-button>
  <p>
    {{output}}
  </p>
  <div *ngIf="show">
    <ion-button (click)="next()">Nächstes Wort</ion-button>
  </div>
  
</ion-content>
