ion-content {
          
    background-size: cover;
    text-align: center;
    --background: none;
    --background:url('../src/assets/image/background.jpg') 0 0/100% 100% no-repeat;
}

ion-button {
    --webkit-box-shadow : 0 10px 30px rgba(142, 142, 143, 0.897);
    --box-shadow: 0 10px 30px rgba(165, 160, 160);
    margin: 0px;
    --background: rgba(255, 0, 98, 0.925);
}

ion-input[type=text] , input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #535353;
    padding: 15px 32px;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    height: 35px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;

}